/* Link styles */
a {
  color: #fff;
  text-decoration: underline;
}
a:hover, a:active {
  text-decoration: none;
}
a:visited {
  text-decoration: dashed;
}

/* HTML styling */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Audiowide', sans-serif;
}

/* Navbar styling */
.logo {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 1000;
}
.tabs {
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
  display: flex;
  gap: 10px;
  z-index: 1000;
  transition: right 0.3s ease-in-out;
  cursor: pointer;
}

/* Panel styling */
.panel {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  background-color: #050505ec;
  border-left: 2px solid #fff;
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}
.panel ul {
  padding: 10px;
  list-style: none;
}
.panel ul li a {
  text-align: center;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 5px 30px;
  margin: -14px 0 24px 0;
  display: block;
}

/* Header styling */
.header-image {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}
.header-image::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #05050500, #050505ff);
}

/* Body styling */
body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: calc(100vh * (16 / 9));
  margin: 0 auto;
  padding: 2.5rem;
}
.txt-header-container {
  display: flex;
  justify-content: center;
}

.txt-header-bubble
{
  border: 2px solid #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 5px 30px;
}

.body-bubble {
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 20px 10px;
}

.body-bubble h2 {
  text-align: center;
}

.body-bubble p {
  font-size: 20px;
  text-align: left;
  text-indent: 35px;
  padding: 5px 30px;
}


/* Grid layout */

.image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
}
.image-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}
.landscape {
  grid-column: span 2; /* Spans across both columns */
}
.portrait {
  grid-column: span 1; /* Takes up one column */
  grid-row: span 1; /* Fits in a single row */
}

/* Footer styling */
.txt-site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.site-footer {
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  padding: 20px 30px;
  margin: 20px auto;
}
.site-footer p {
  font-size: 20px;
}
.links-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
  max-width: 400px;
}
.links-footer img {
  width: 40px;
  height: auto;
  vertical-align: middle;
}
.site-footer a.footer-link {
  margin: 5px;
}

/* Recommended articles */
.recommended-articles {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.recommended-articles h1 {
  border-radius: 10px;
  border: 2px solid #fff;
  height: 100px;
  width: 95%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-cubes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
.cube {
  border: 2px solid #fff;
  border-radius: 10px;
  text-decoration: none;
  padding: 1rem;
  width: 200px;
  height: 150px;
  transition: transform 0.3s;
  box-sizing: border-box;
  overflow: hidden;
}
.cube h3 {
  margin: 0;
}
.cube:hover {
  transform: translateY(-10px);
}

/* Mobile styles */
@media screen and (max-width: 985px) {
  .container {
    padding: 0rem;
  }
  .logo {
    height: 40px;
  }
  .tabs {
    height: 40px;
  }
  .txt-header-bubble, .body-bubble, .site-footer, .recommended-articles h1 {
    border: none;
    border-top: 2px solid #fff;
  }
  .cube {
    flex: 1 0 45%;
    max-width: 45%;
    height: 150px;
    border: none;
    border-top: 2px solid #fff;
  }
  .links-footer {
    gap: 10px;
  }
  .links-footer img {
    width: 30px;
  }
}
